
        /*    GLOBAL */

body {
    font-family: 'Open Sans', sans-serif;
    color:#636363;
    width:100%
}
a {
    color:#636363;
    text-decoration:none;
}
.article-header, .subject-header, .subject-question  {
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}
.lightgrey{
    background:#C9C9C9;
}
.blue{
     background:#1C77C3;
}
.green{
     background:#1D807D;
}
.red{
     background:#ED6A5E;;
}
.page-container{
    width:100%;
}

                /*END GLOBAL */
header{
    display:flex;
    align-items: center;
}
    .logo{
        width: 30px;
        height:30px;
        padding-top:5px;
        padding-bottom: 5px;
        padding-left:10px;
        padding-right:5px;
        }

    .subject-question     {
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        width: 100%; 
        margin-left:1px;
        font-size: 0.9em;
        font-weight: 300; 
        text-align: left;
        padding-left:5px;
    }

button{
    border:0px;
    background:transparent; 
    font-size: 10px; 
    color:lightgray; 
}
button  a :hover{
    border:0px;
    font-size: 25px; 
    color: black;   
    font-weight: 900;
    background:#e6f7eb;
}


/*      TOOLBAR    ***************************/
.toolbar{
    width:100%;
    display:flex; 
    flex-direction: column;
    justify-content:space-between;
    padding:3px;
}
.tool > div > i{
    font-size:12px;
}

    .icon-bar {
   padding:3px
    }
    .icon-bar a  {
        transition: all 0.3s ease;
    }
    .icon-bar a:hover {
    background-color: #000;
    padding:5px
    }
        .icon-bar a i {
            color: white;
            font-size: 20px;
            padding:5px
        }
.UserBar{
    display: flex; 

    background-color:lightgray;
    margin-right:10px;

}
.dataViews{
    display:flex;
    align-items: center;
    flex-direction: row;
}

.sharebox{
    width:97%;
    height:40px;
    margin-left:5px;
    font-size:0.8em;
    background: #EAEFEE;
    
    }

/**    COLUMNS-SECTION   *************************/	

main{
    vertical-align: top;
    margin:0px;
    border-radius: 3px;
    background-color: #fff;
    padding: 0px;
    DISPLAY:FLEX;
    flex-direction: row;
    align-content: flex-start;
    flex-shrink: 2;
   }
article{
    padding: 2px;
    margin-right:7px;
    flex:1;
    min-width: 2px;
    flex-direction: row;

}


    .article-header{
        width:100%;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        text-align: left;
        color:#EDEDED;
    }

        .subject-header{
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 1;
            width:100%;
            text-align: left;
            background: #C9C9C9;
        }
            .item-container {
                width:100%;
                font-size:13px;
            
                padding:5px;
                color:black;

            }
                .item-container:hover {
                    background:#28a745;
                    color:white;
                }
            .item{
                font-size:11px;
                flex-grow:1;
                text-align:left; 
                text-decoration: none;
                font-weight: 500;  
            }
                .item:hover{
                    color:white;
                }
footer{
    width:100%;
    background:#1D807D;
    color:#EDEDED;
    font-size:8px;
    text-align: center;   
}



.avatar{
    padding-left:2px;
    padding-right:2px;

}
.avatar a :hover{
    
    opacity: 0.2;
    
}
img{
    height:30px;
    width: 30px;
    padding:2px;
}




.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }


div.siteContainer {
    display:flex;
    width:100%;
    text-decoration:none;
    font-size:12px;
    padding:5px;
    border-width:0px;
    border-top-width:0px;
    border-left-width:0px;
    border-right-width:0px;

    border-bottom-width:1px;
    border-bottom-style: solid;
    border-bottom:lightgray;

}
.siteContainer:hover {
    background:#28a745;
    color:white;
}


div.siteIcon{
        align-items: center;
        display:none;
    }

     
.siteIcon  img {
    height:15px;
    width:15px;
    opacity: 0.8;

} 

    .siteTitle{
        width:100%;
        text-decoration:none;
        font-size:13px;
        padding:5px;


    }

        .siteTitle :hover{
            color:white;

        }
.myMenu{
    font-size:20px;
    color: #C9C9C9;
    padding:5px;
    border:transparent;
    background: transparent;
    border-style: none;
    text-align: center;
    background:transparent;
    color: darkgoldenrod;
    transition: background-color .2s;
}






#linkIcon{
    display:none;
}
.active {
  background-color: #4CAF50;
}

.embed{
    display:none;
}
  /* COMPONENTS*/


 


  /* MEDIA QUERIES */

  @media(min-width: 500px){
    .subject-question  {
        font-size: 1.2em;   
    }
    .siteTitle {
        font-size:15px;
        line-height: 20px
    }
}

  



.settings {
    padding:3px;
    width:100%;
    justify-content: flex-start;
    display:flex;


    }
.settings > div >  span {
    font-size:8px;
    padding:3px;
    margin:2px;
    flex-direction: row;
    justify-content:space-between;
    padding:3px;
}
.settings > div >  div {
    font-size:8px;
    padding:3px;
    margin:2px;
    flex-direction: row;
    justify-content:space-between;
    padding:3px;
}