
/* Table of Contents  (USING SMACS)
   - - - - - - - - -
    1. Base rules
    2. Layout rules
    3. Modules rules
    4. State rules
    5. Theme rules

   - - - - - - - - -
 */
/*  - - - - - - - - -
    1. Base rules  
    - - - - - - - - -*/
body {
    font-family: 'Open Sans', sans-serif;
    color:#636363;
    width:100%
}
a {
    color:#636363;
    text-decoration:none;
}
.article-header, .subject-header, .subject-question  {
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}
.lightgrey{
    background:#C9C9C9;
}
.blue{
     background:#1C77C3;
}
.green{
     background:#1D807D;
}
.red{
     background:#ED6A5E;;
}
.page-container{
    width:100%;
    margin-right:-20px;
}
/*      ELEMENTS    ***************************/
header{
    display:flex;
    align-items: center;

    flex-grow:3;
    padding-right:5px;
}
button{
    border:0px;
    font-size: 15px; 
    color:#1C77C3; 
    background:lightgray;
    border-radius: 40px; 

}
button > a > i{
    border:0px;
    font-size: 15px; 
    color:#1C77C3; 
    background:lightgray;
    border-radius: 40px; 
}
button > a > i :hover{
    border:0px;
    background:green;  
    border-radius: 40px; 
    color: white;
}
button  a :hover{
    border:0px;
    background: green;   
    font-weight: 4000;
    border-radius: 40px; 
    color: white;

}
button :hover{
    border:0px;
    color: green;   
    font-weight: 4000;
    border-radius: 40px; 
    color: white;
}

/*      STYLES    ***************************/

    .logo{
        width: 30px;
        height:30px;
        padding-top:5px;
        padding-bottom: 5px;
        padding-left:10px;
        padding-right:5px;
        }

    header > div > .subject-question     {
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        width: 100%; 
        margin-left:1px;
        font-size: 0.7em;
        font-weight: 300; 
        text-align: left;
        padding-left:5px;
    }


section.all-tools{
    display:flex;
    flex-direction:column;
}
div.settings {
    padding:3px;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    }


    .micro-nav  {
        justify-content: flex-start;
        display:flex;
        padding:0px;
        background:lightgray;
        border-radius: 3px;
    }
    .micro-nav > div >  span {
        font-size:8px;
        margin:2px;
        flex-direction: row;
        justify-content:space-between;
 
   
    }
    .micro-nav > div >  div {
        font-size:8px;
        padding:3px;
        margin:2px;
        flex-direction: row;
        justify-content:space-between;
        padding:3px;

    }
    .tool > div > i{
        font-size:10px;
   

    } 
    .macro-nav  {
        display:flex;
        border-radius: 3px;
        margin-right:5px;
        justify-content:flex-end;
    }
    .macro-nav > div >  span {
        font-size:5px;
        margin:2px;
   

    }
    .macro-nav > div >  div {
        font-size:8px;
        padding:3px;
        margin:2px;
        padding:3px;
    }

.avatar-bar{
    display: flex; 
    margin-right:10px;
}
.avatar{
    padding-left:2px;
    padding-right:2px;
    position: relative;
    display: inline-block;
}
.avatar a :hover{
    opacity: 0.2;
}
img{
    height:30px;
    width: 30px;
    padding:2px;
    border-radius: 5px;
}
.sharebox{
    width:97%;
    height:40px;
    margin-left:5px;
    font-size:0.8em;
    background: #EAEFEE;
    }

/**    COLUMNS-SECTION   *************************/	

main{
    vertical-align: top;
    margin:0px;
    border-radius: 3px;
    background-color: #fff;
    padding: 0px;
    DISPLAY:FLEX;
    flex-direction: row;
    align-content: flex-start;
    flex-shrink: 2;
   }
article{
    padding: 2px;
    margin-right:7px;
    flex:1;
    min-width: 2px;
    flex-direction: row;
}
    .article-header{
        width:100%;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        text-align: left;
        color:#EDEDED;
    }
        .subject-header{
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 1;
            width:100%;
            text-align: left;
            background: #C9C9C9;
        }
        div.siteContainer {
            display:flex;
            width:100%;
            text-decoration:none;
            font-size:12px;
            padding:5px;
            border-width:0px;
            border-top-width:0px;
            border-left-width:0px;
            border-right-width:0px;
            border-bottom-width:1px;
            border-bottom-style: solid;
            border-bottom:lightgray;
        }
        .siteContainer:hover {
            background:#28a745;
            color:white;
        }
            .item-container {
                width:100%;
                font-size:13px;
            
                padding:5px;
                color:black;
            }
                .item-container:hover {
                    background:#28a745;
                    color:white;
                }

            div.siteIcon{
                    align-items: center;
                    display:none;
                }
                .siteIcon  img {
                    height:15px;
                    width:15px;
                    opacity: 0.8;
                } 
                .siteTitle{
                    width:100%;
                    text-decoration:none;
                    font-size:13px;
                    padding:5px;
                }

                    .siteTitle :hover{
                        color:white;

                    }

.active {
  background-color: #4CAF50;
}

.embed{
    display:none;
}

footer{
    width:100%;
    background:#1D807D;
    color:#EDEDED;
    font-size:8px;
    text-align: center;   
}

  /* COMPONENTS*/


 


  /* MEDIA QUERIES */

  @media(min-width: 500px){
    .subject-question  {
        font-size: 1.5em;   
    }
    .siteTitle {
        font-size:15px;
        line-height: 20px
    }
    div.siteContainer {
        display:flex;
        width:100%;
        text-decoration:none;
        font-size:10px;
}

  


