
            /* MEDIA QUERY */


        /*    GLOBAL */

body {
    font-family: 'Open Sans', sans-serif;
    color:#636363;
    width:100%
}

a {
    color:#636363;
}
.article-header, .subject-header, .subject-question  {
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}
.lightgrey{
    background:#C9C9C9;
}
.blue{
     background:#1C77C3;
}
.green{
     background:#1D807D;
}
.red{
     background:#ED6A5E;;
}
                /*END GLOBAL */
header{
    display:flex;
    align-items: center;
}
    .logo{
        width: 30px;
        height:30px;
        padding-top:5px;
        padding-bottom: 5px;
        padding-left:10px;
        padding-right:5px;
        }

    .subject-question     {
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        width: 100%; 
        margin-left:1px;
        font-size: 0.8em;
        font-weight: 300; 
        text-align: left;
        padding-left:5px;
    }
    @media(min-width: 600px){
        .subject-question  {
            font-size: 1.2em;
        }
    }


/*      TOOLBAR    ***************************/
.toolbar{ 
   width:100%;
   display:flex; 
}
.navigation{
    Display:flex;
    flex-direction: row;
    align-items: center;
    width:100px;
}
.dataViews{
    display:flex;
    align-items: center;
    flex-direction: row;
    padding-left:5px;
    padding-right:5px;
}
    .btn {
        padding:3px;
        font-size:10px;
        border-style: none;
        text-align: center;
        margin: 2px;
        background:transparent;
        color: darkgoldenrod;
        transition: background-color .2s;
    }

    .btn:hover {
        background: #218838;
        color:white;
    }

.fullscreen{
        margin-bottom: 5px;    
    }

.sharebtn{
    padding:3px;
    font-size:10px;
    border-style: none;
    text-align: center;
    margin: 2px;
    transition: background-color .2s;
    color:#1C77C3;
}
    .sharebtn:hover{
        background: #218838;
        color:white;
    }
    label.btn-info {
        padding:5px;
        background:#28a745;;
        color:white;
        font-size:10px;
        border-style: none;
        text-align: center;
        margin: 5px;
        transition: background-color .2s;
    }
    label.btn-info:hover {
        background:#218838;
        color:white;
    }
.sharebox{
    width:60px;
    height:60px;
    margin-left:5px;
    font-size:0.7em;
    background: #EAEFEE;
    
    }
    #chkShare { 
        visibility: hidden; 
        width: 0; 
        height: 0; 
        }
    #chkShare ~ div {  
        height 5s; 
        height: 150; 
        }
    #chkShare:checked ~ div {
        opacity: 0;
        width: 70px; 
        height: 0; 
        }

/**    COLUMNS-SECTION   *************************/	

main{
    vertical-align: top;
    margin:0px;
    border-radius: 3px;
    background-color: #fff;
    padding: 0px;
    DISPLAY:FLEX;
    align-content: flex-start;
    flex-shrink: 2;
   }
article{
    padding: 2px;
    margin-right:7px;
    flex:1;
    min-width: 2px;
    flex-direction: column;
    box-sizing:border-box;
}

    .article-header{
        width:100%;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        text-align: left;
        color:#EDEDED;
    }

        .subject-header{
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 1;
            width:100%;
            text-align: left;
            background: #C9C9C9;
        }
            .item-container {
                width:100%;
                text-decoration:none;
                font-size:13px;
                background:rgba(34, 233, 44, 0.068);
                padding:5px;
                color:black;
                border-top-color: rgb(133, 130, 130);
                border-top-style:dotted;
                border-width: 1px;
            }
                .item-container:hover {
                    background:#28a745;
                    color:white;
                }
            .item{
                font-size:11px;
                flex-grow:1;
                text-align:left; 
                text-decoration: none;
                font-weight: 500;  
            }
                .item:hover{
                    color:white;
                }
footer{
    width:100%;
    background:#1D807D;
    color:#EDEDED;
    font-size:8px;
    text-align: center;   
}

.avatar-bar{
    display: flex; 
    margin-left:10px;
    flex-direction: row; 
    justify-content: flex-end;
    width: 100%; 
}

.avatar{
    padding-left:1px;
    padding-right:1px;
}
.avatar a :hover{
    
    opacity: 0.2;
}
img{
    height:30px;
    width: 30px;
    padding:2px;
}




.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  .page-container{
    width:400px;
    background:gray;
    }
    